:root {
  --font-size: 15px;
  --height: 100px;
  --margin: 40px;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

div {
  font-size: var(--font-size);
  height: var(--height);
  display: inline-block;
  line-height: 100px;
  margin-left: var(--margin);
  margin-right: var(--margin):
}
